/* CSS Style Sheet for Morgan's Portfolio*/

body{
    background-color: lightblue;
    margin:0;
    padding:0;
    font-family: cursive;
    
}
div#content1{
    display: flex;
/*
    flex-direction: row;
    flex-wrap: wrap;
*/
    flex-flow: row;
    margin: 10px;
    width: 100%;
    height: auto;
    text-align: center;
}
h1#indport{
    background-position:right;
    background-size: cover;
    background-color:dark;
    width:100%;
/*    height:150px;*/
    margin:10px;
  align-self: center;
    
}
div#container{
    background-color: white;
    width:auto;
    margin:auto;
}

header{
        background-position:right;
        background-size: cover;
    background-color:dark;
    width:100%;
    height:150px;
    margin:10px;
    
} 

header h1 {
    text-align:center;
    padding-top:50px;
    color:lightblue;
    font-size: 60px;
    


}
img#morgan{
    width:400px;
    height:500px;
    margin:10px;
    order:1;
    align-self: flex-start; 
    
}
div#portinfo{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
/*
    justify-content: center;
    
*/
    order: 2;
}
h2#h2home{
    height: 30px;
    margin:0;
    align-self: flex-start;
    order:1;
    
}
h2#welc{
    margin-left: 10px;
}
p#intopara{
    width:50%;
    order: 2;
    
}
h2#awa{
    margin-left:10px;
}

nav {
    width:100%;
    background-color: lightgray;
    clear:both;
    margin:0;
    font-family: cursive;
/*    padding-left:300px; */

    
        
    
}
nav ul {
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;

}
nav ul li{
    float:left; 
    
}
nav ul li a{
    display:block;
    color: #000;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
    
}

nav ul li a:hover{
    background-color: white; 
}
.active{
    background-color:white;
}

footer{
    width:100%;
    background-color:lightgrey;
    color:white;
    text-align:center;
    padding:10px 0;
    
}
footer#contactfoot{
   
}

.keepOpen{
    clear:both;
}




#gallery{    
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap; 
   
    

}

img {
    
    width:400px;
    height: 300px;
}

figure{
/*    width:100px;*/
    float: left;
  box-shadow: 1px 1px 10px #000;
    margin: 10px 15px;
    flex: 0 0 30%;
    
    

}
figure img{
    width:500px;
/*    height: 600px;*/
    display: block;
    margin:10px auto;
    

}
figcaption{
    text-align: center;
    padding: 10px 0;
    font-family:cursive;
    font-size: 25px;
    
    
    
}
/* contact.html */
form{
    float:left;
}
h2#h2-contact{
    margin-left:10px;
    clear:both;
    
}
form#form-contact{
    margin-left:10px;
    

    
    
}
form input{
    margin-bottom:10px;
    
    
}
button#button-contact{
    width:100px;
    height:25px;
    font-weight:600;
    margin-bottom: 15px;
    box-shadow: 1px 1px #000;
}

#p-home{
    font-size: 25px;
    width:auto;
    word-spacing: 8px;
}
#aboutpara{
    font-size: 25px;
    width:auto;
    word-spacing: 8px;
}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

* {
    box-sizing: border-box;
}

awlist{
    
}


    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
@media only screen and (max-width: 560px) {    
    
    
    body{
    background-color: lightpink;
    margin:0;
    padding:0;
    font-family: cursive;
    
}
    div#content1{
    display:flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    height:auto;
    text-align: left;
        
}
    img#morgan{
        height: 300px;
        width:250px;
        display: block; 
        align-self: center;
        order: 2;
    }
    
h2#h2home{
    height: 30px;
    order:1; 
    align-self: center;
    /align-self: flex-start;
    order: 1;
}
    p#intopara{
    width:50%;
/*    order: 2;*/
    align-self: center; 
}
   
  

