/* CSS Style Sheet for Morgan Haley Photography */

/* Global Style*/
body{
    background-color: lightblue;
    margin:0;
    padding:0;
    
}

div#container{
    background-color: white;
    width:1024px;
     /* Centers the Container*/
    margin:auto;  
}
header{
    background-image:url('/images/wish.JPG');
        background-position:right;
        background-size: cover;
    background-color: lightcyan;
    width:100%;
    height:150px;
    margin:0;
    
}
header h1 {
    text-align:center;
    padding-top:50px;
    color:#000;
    margin:0;
    font-family: 'Alex Brush', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Parisienne', cursive;
    font-size: 60px;
    


}
nav {
    width:100%;
    background-color: lightcoral;
    clear:both;
    margin:0;
    font-family: cursive
        
    
}
nav ul {
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;

}
nav ul li{
    float:left; 
    
}
nav ul li a{
    display:block;
    color: #000;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
    
}

nav ul li a:hover{
    background-color: lightgray; 
}
.active{
    background-color:white;
}

/* index.html */
img#homepagephoto {
    width: 500px;
     display:block;
    margin:15px;
    float:left;
    
}
/*index.html*/
img#homepagephoto {
    width: 500px;
    display:block;
    margin:15px;
    float:left;
    
    
}
footer{
    width:100%;
    background-color:lightcoral;
    color:white;
    text-align:center;
    padding:10px 0;
    
}

.keepOpen{
    clear:both;
}
#h2#h2home{
    float:left;
    margin-top:10px;
    margin-bottom:0;
}
#p-home{
    float:left;
    width:30%;
    margin-top:10px;
    
}
/*about.html*/
img#Morgan {
    width: 500px;
    display:block;
    margin:15px;
    float:left;
}
#h22{
    float:left;
    width:30%;
}
/*about.html*/


    
}
/*Pictures*/

div#gallery{
width:100%
border:3px dotted green;

}


figure{
    width:250px;
    float: left;
  box-shadow: 1px 1px 10px #000;
    
    

}
figure img{
    width:500px;
    display: block;
    margin:10px auto;
    

}
figcaption{
    text-align: center;
    padding: 10px 0;
    font-family:cursive;
    font-size: 25px;
    
    
    
}