/* CSS Style Sheet for Morgan Haley Photography */

/* Global Style*/
body{
    background-color: lightblue;
    margin:0;
    padding:0;
    
}

div#container{
    background-color: white;
    width:1024px;
     /* Centers the Container*/
    margin:auto;  
}
header{
    background-color: lightcyan;
    width:100%;
    height:150px;
    margin:0;
    
}
header h1 {
    text-align:center;
    padding-top:50px;
    color:#000;
    text-shadow:2px 1px 1px white;
    margin:0;
}
nav {
    width:100%;
    background-color: beige;
    clear:both;
    margin:0;  
}
nav ul {
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;

}
nav ul li{
    float:left; 
    
}
nav ul li a{
    display:block;
    color: #000;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
    
}

nav ul li a:hover{
    background-color: lightcoral; 
}
.active{
    background-color:white;
}
